img{
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 0%;
}
body{
    background:url(./istockphoto-1283633813-170667a);
    background-color: aqua;
}
p{
    container:graid;
}